.wishlist-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: #f6f4eb;
    height: 88vh;
}

.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    gap: 4%;
    flex: 1;
}

mat-card-header{
    display: flex;
    justify-content: space-between;
}

mat-card-title{
    font-size: 1rem;
    font-weight: normal;
}

mat-card-subtitle{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Cedarville Cursive';
}

mat-card-content{
    font-size: 0.6rem;
    font-weight: bold;
}

.card{
    background-color: #1c4668;
    height: 60vh;
    width: 20vw;
    transition: all 0.3s ease-in-out;
    font-size: 0.6rem;
    margin-bottom: 4%;
}

.card-image{
    width: 100%;
    max-height: 20vh;
    margin-bottom: 2%;
}

/* .card:hover{
    transform: scale(1.3);
    color: #1c4668;
    border: 0.1em #1c4668 solid;
} */