<div class="package-container">
    <div class="destinations">
        <div *ngFor="let userPackage of userPackages">
            <mat-card class="card">
                <mat-card-header>
                    <div class="head">
                        <mat-card-title>{{userPackage.packageName}}</mat-card-title>
                        <mat-card-subtitle>{{userPackage.packageCity}}, {{userPackage.packageCountry}}</mat-card-subtitle>
                    </div>
                    <div>
                        <button mat-button (click)="addToWishList(userPackage.packageID)"><mat-icon>favorite</mat-icon></button>
                        <button mat-button (click)="addToBookings(userPackage.packageID)">Book Now >></button>
                    </div>
                </mat-card-header>
                <mat-card-title-group>
                    <img mat-card-md-image class="card-image" mat-card-image [src]="'../../assets/images/' + userPackage.packageImage" alt="package image">
                    <mat-card-content>
                        <p>{{userPackage.packageDesc}}</p>
                        <p>Rating : {{userPackage.packageRating}}</p>
                        <p>Review : {{userPackage.packageReviews}}</p>
                        <p>Price : {{userPackage.packagePrice}}</p>
                        <p>Duration : {{userPackage.packageDuration}}</p>
                        <p>Available date: {{userPackage.availableDate}}</p>
                    </mat-card-content>
                </mat-card-title-group>
              </mat-card>
        </div>
    </div>
</div>
