<div class="component-container">
    <h1>Popular destinations</h1>
    <div class="destinations">
        <div *ngFor="let destination of rangeFrom(0,4)">
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>{{destination.packageName}}</mat-card-title>
                  <mat-card-subtitle>{{destination.packageCity}}, {{destination.packageCountry}}</mat-card-subtitle>
                </mat-card-header>
                <img class="card-image" mat-card-image [src]="'../../assets/images/' + destination.packageImage" alt="">
                <mat-card-content>
                  <p>{{destination.packageDesc}}</p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
    <div class="more">
      <button class="btn" mat-stroked-button routerLink="/sign-up">see more >>></button>
    </div>
</div>